* {
    font-size: x-small ;
    
    
}

body {
  user-select :auto ;
}

header {
  border-bottom: 1px solid black ;
  
}

h1 {
  margin-inline: 20px ;
}

h2 {
  direction: rtl ;
  margin-right: 30px 
}

h3 {
  text-align: center ;
}

main {
  
  border-block: 1px solid silver ;
}

a {
  color: #000;
}

#red , #red a{
  color: red;
}

.ar {
  direction: rtl ;
}

bdi {
  font-size: inherit ;
  margin: 0px ;
  padding: 0px ;
}

